.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
  position: relative;

  &__movie {
    width: 25%;
    background: #183e39;
    border-radius: 50px 0 0 50px;
    padding-top: 110px;
    height: 100%;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 82px;
      height: 82px;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 58px;
      border-radius: 50%;

      & .vector {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      & .admin__photo {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background: #d1e7ff;
        border: 4px solid #e8920b;
        object-fit: cover;
      }
    }
  }
}


#basic-menu.MuiPopover-root.MuiMenu-root.header__menu.MuiModal-root.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: #000;
  border: 2px solid #e8920b;
  box-shadow: 0 0 0 0;
  border-radius: 8px;
  left: 1300px;
  & ul {
    color: #E8920B;
  }
}

.MuiBox-root.css-5nwj3y {
  display: none;
}
