.movies__nav{
  width: 100%;
  padding-bottom: 354px;
  display: flex;
  flex-direction: column;
  background-color: #183e39;
  border-radius: 50px 0 0 50px;
  align-items: center;
}


.movies__nav__item{
  font-family: Roboto, "sans-serif";
  font-size: 28px;
  font-weight: 500;
  line-height: 32.81px;
  list-style-type: none;
  color: #fff;
  text-align: center;
  margin-top: 100px;
  text-decoration: none;
  position: relative;
}

.movies__nav__item.active {
  background: #000;
  padding: 25px 34px 25px 25px;
  border-radius: 50px 0 0 50px;
}

.movies__nav__item.active:before {
  display: block;
  content: " ";
  width: 90px;
  height: 50px;
  background: #000;
  position: absolute;
  left: 190px;
  top: 0;
}

.movies__nav__item.active:after {
  display: block;
  content: " ";
  width: 90px;
  height: 50px;
  background: #000;
  position: absolute;
  left: 190px;
  top: 33px;
}


