* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}


body {
  font-size: 16px;
  background-color: #1c2827;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}
